#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    position:absolute;
    margin: 15px;
    top:0;
    right:0;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #8eea92;
    display: inline-block;
}

#clockdiv div > span{
    padding: 10px;
    border-radius: 3px;
    background: #00811f;
    display: inline-block;
}

#clockdiv > div.over {
    background: #ef0052;
}

#clockdiv div.over > span {
    background: #81002d;
}